<div id="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>CMS</h2>

      <div class="col-md-2 col-sm-2">
        <a class="btn btn-default" href="/dashboard">Go to Dashboard</a>
      </div>
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-default" href="/authors">Manage Authors</a>
      </div>

      <div class="col-lg-12 col-lg-offset-2">
        <form id="cms">
          <div class="form-group">
            <label for="title">Title:</label>
            <input placeholder="Post Title" type="text" class="form-control" id="title">
            <br />
            <label for="body">Body:</label>
            <textarea placeholder="Post Body" class="form-control" rows="10" id="body"></textarea>
            <div class="form-group">
              <label for="category">Select Author:</label>
              <select class="form-control" id="author">
              </select>
            </div>
            <br />
            <button type="submit" class="btn btn-success submit">Submit</button>
          </div>
        </form>
      </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>      