<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="dashboard">
        <div class="container">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li><img id="logo" src="../images/logo2.png"></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <br/>
            <div class="row">
                <div class="col-lg-3">
                    <div style="padding:2em;" class="alert-lg alert-info"><h1>Signing up</h1></div>
                </div>
                
                <div class="col-lg-9 lead">
                    <p>If you do not have an account, please complete the form below then click the <em>Sign up</em> button:</p>

                    <br/>

                    <div class="row">

                    <form id="signup" name="signup" method="post" action="/signup">

                        <div class="col-md-4" style="margin-right:2em;">
                            <label for="email">Email Address</label>
                            <input class="text" name="email" type="email" /><br/><br/>                            
                            <label for="postalcode">Postal Code</label>
                            <input class="text" name="postalcode" type="text"><br/><br/>
                            <label for="firstname">Firstname</label>
                            <input name="firstname" type="text" /><br/><br/>
                            <label for="lastname">Lastname</label>
                            <input name="lastname" type="text" /><br/><br/>
                            <label for="password">Password</label>
                            <input name="password" type="password" />
                        </div>
                        <div class="col-md-6"><br/><br/>
                            <input class="btn btn-lg" type="submit" value="Sign Up" /><br/><br/>
                    <p>Note: If you already have an account, you may <a href="/signin">sign in</a>.</p>
                            
                        </div>

                    </form>


                </div>
            </div>
        </div>
    </div><!--dashboard div ends=-->

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript">
            </script> 
            <script src="/js/index.js">
            </script> 
            <script src="js/blog.js" type="text/javascript">
            </script> 
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC83gYW2lRHk0-0EYyDuaC-NXsDWarTXEI&libraries=places&callback=initialize">
            </script> 

</body>
</html>